{% extends 'homebase.html' %}
{% load static %}
{% block title %} FAQ | {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}
<div id="mainBody" style="padding-bottom: 200px;">
<div class="container">
<h1>FAQ</h1>
<hr class="soften"/>
<div class="accordion" id="accordion2">

	<table id="customers">
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>
        {% for rs in faq %}
  <tr>
    <td><h5>{{ rs.question }}</h5></td>
    <td>{{ rs.answer | safe }}</td>
  </tr>
       {% endfor %}

</table>

  </div>
</div>
</div>
<!-- MainBody End ============================= -->
 {% endblock %}
