{% extends 'homebase.html' %}
{% load static %}
{% block title %} Order Completed | {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3">
		<div class="well well-small"><a id="myCart" href="/shopcart"><img src="{% static 'themes/images/ico-cart.png' %}" alt="cart">{{ request.session.cart_items }} Items in your cart  </a></div>
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			{% load mptt_tags %}
            {% recursetree category %}
			<li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title}}</a></li>
            {% endrecursetree %}
		</ul>
		<br/>

	</div>
<!-- Sidebar end=============================================== -->

	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Home</a> <span class="divider">/</span></li>
		<li class="active"> ORDER COMPLETED</li>
    </ul>
	<h3>  ORDER COMPLETED <a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
	<hr class="soft"/>


	<hr>
                        <h2>Dear  {{ user.first_name }} {{  user.last_name }}</h2>
                        <hr>
                        <h3>Your order is completed</h3>
                        <h3>Order Code : {{ ordercode }}</h3>
                        <h3>Thank You</h3>
                        <hr>



	<a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>

</div>
</div></div>
</div>
<!-- MainBody End ============================= -->
 {% endblock %}
